@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    overflow-x: hidden;
    margin: 0;
    font-family: "Inter", sans-serif;
}

progress[value]::-webkit-progress-bar {
    background-color: transparent;
}

progress[value]::-webkit-progress-value {
    background-color: #c9d3e0;
    border-radius: 50x;
}
progress[value]::-moz-progress-bar {
    background-color: #c9d3e0;
}

progress[value] {
    background-color: transparent;
}

h1 {
    @apply self-stretch mt-4 md:mt-[24px] flex-grow-0 flex-shrink-0 w-full xl:w-[400px] text-[24px] font-semibold text-left text-[#134267];
}

h2 {
    @apply self-stretch mt-2 md:mt-[16px] flex-grow-0 flex-shrink-0 w-full xl:w-[400px] h-fit text-[14px] text-left text-[#4f637d]
}

/* Options */

h3 {
    @apply flex-grow-0 flex-shrink-0 w-full xl:w-[310px] text-[12px] text-left text-[#4f637d]
}

li {
    @apply self-stretch flex-grow-0 flex-shrink-0 w-[310px] text-[14px] font-medium text-left text-[#134267]
}

ul {
    @apply flex mt-[32px] mb-[32px] flex-col justify-start items-center w-full flex-grow-0 flex-shrink-0 relative
}

ul {
    list-style-type: none;
}
  
ul li {
    margin-bottom: 16px;
    position: relative; 
    padding-left: 24px; 
}
  
li::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 12px;
    background-image: url("data:image/svg+xml;utf8,<svg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'><path d='M11.3333 1L3.99996 8.33333L0.666626 5' stroke='%2365BD47' stroke-width='1.29167' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(50%);
  }

/* Fieilds */

.fields-form {
    @apply flex mt-6 md:mt-[32px] md:mb-[32px] flex-col justify-start items-center flex-grow-0 flex-shrink-0 w-full xl:w-[400px] relative bg-white
}
.field-wrap {
    @apply flex flex-col md:mb-[24px] justify-start items-start flex-grow-0 flex-shrink-0 w-full xl:w-[400px] relative gap-2
}
.field {
    @apply flex justify-start items-center self-stretch flex-grow-0 flex-shrink-0 h-[45px] relative gap-2.5 pl-[17px] pr-2.5 py-2.5 rounded bg-[#f8f9fc]
}
label {
    @apply flex-grow-0 mb-[2px] flex-shrink-0 text-[12px] font-medium text-left text-[#4f637d]
}

/* Buttons */

button {
    @apply flex w-full justify-center items-center flex-grow-0 flex-shrink-0 relative gap-2.5 py-[11px] rounded-lg bg-[#32abf2] hover:bg-[#0D3251] transition-colors;
}

button p {
    @apply flex-grow-0 flex-shrink-0 text-[14px] font-medium text-center text-white
}

/* Alternative button */

.alt-btn-form {
    @apply flex-grow-0 mt-4 md:mt-[16px] flex-shrink-0 text-[12px] text-center;
}

.alt-btn-text {
    @apply flex-grow-0 flex-shrink-0 text-[12px] text-center text-[#4f637d];
}

.alt-btn-link {
    @apply flex-grow-0 flex-shrink-0 text-[12px] text-center text-[#32abf2];
}
.alt-btn-link {
    cursor: pointer;
}

/* Progress Bar Buttons */

.button-form {
    @apply flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-2 px-3 py-1.5 rounded
}

.active-progress-button {
    @apply hover:bg-[#134267] cursor-pointer
}

/* Progress Bar Tips */

.indicator-tips {
    position: absolute;
    bottom: -15px;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    gap: 24px;
    z-index: 5000;
}

@media (max-height: 731px) {
    .min-custom-h-731 {
        height: 100svh;
    }
}


/* Progress Bar Buttons */

.button-form {
    @apply flex justify-start items-center flex-grow-0 flex-shrink-0 relative gap-2 px-3 py-1.5 rounded
}

.active-progress-button {
    @apply hover:bg-[#134267] cursor-pointer
}

/* Progress Bar Tips */

.indicator-tips {
    position: absolute;
    bottom: -15px;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    gap: 24px;
    z-index: 5000;
}
